{% block head %}
{% include "head.html" %}
{% include "index.html" %}
{% endblock %}
{% load static %}
{% block content %}
{% load django_bootstrap5 %}
{% bootstrap_messages %}
{% load static %}

<script>
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register("{% static 'cidade_segura/service-worker.js' %}")
      .then(() => console.log("Service Worker registrado"))
      .catch(err => console.error("Erro no SW:", err));
  }
</script>

<section>
	<div id="map" style="height: 1000px;"></div>
</section>

<script>
	var map = L.map('map').setView([-29.7100, -53.7800], 13);

	L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
		maxZoom: 20,
		attribution: '&copy; OpenStreetMap'
	}).addTo(map);

	// Ícones por tipo de crime
	var icons = window.LEAFLET_ICONS;

	// Loop pelas ocorrências do contexto
	{% for occurrence in occurrences %}
		var lat = parseFloat("{{ occurrence.latitude }}".replace(',', '.'));
		var lon = parseFloat("{{ occurrence.longitude }}".replace(',', '.'));
		var tipo = "{{ occurrence.crime_type }}";

		if (!isNaN(lat) && !isNaN(lon)) {
			L.marker([lat, lon], {icon: icons[tipo] || icons.other})
				.addTo(map)
				.bindPopup(`
					<b>{{ occurrence.occurred_at }}</b><br>
					Tipo: {{ occurrence.get_crime_type_display }}<br>
					<a href="{% url 'denuncia_detalhes' occurrence.pk %}" >Ver detalhes</a>
				`);
		}
	{% endfor %}
</script>

{% endblock %}