<style>

	a:link, a:visited, a:hover, a:active {
	  color: inherit;
	  text-decoration: none;
	}
	a:hover {
	  text-decoration: underline;
	}

</style>
<body>
{% load static %}
<script src="{% static 'js/leaflet_icons.js' %}"></script>
<div class="pos-f-t">
	<div class="collapse" id="navbarToggleExternalContent">
		<div class="bg-dark p-4">
			<a class="navbar-item p-2" href="{% url 'home' %}" style="color: white;">
				HOME
			</a>
			<a class="navbar-item p-2" href="{% url 'denunciar' %}" style="color: white;">
				Denunciar
			</a>
			<a class="navbar-item p-2" href="{% url 'denuncias_pendentes' %}" style="color: white;">
				Denuncias Pendentes
			</a>
			{% if user.is_authenticated %}
			<form action="{% url 'logout' %}" method="post" style="color: white; float: right;">
				{% csrf_token %}
				<button class="navbar-item p-2" style="color: white; background: none; border: none;" type="submit">
					Sair
				</button>
			</form>
			<span class="navbar-item mx-3 p-2" style="color: white; float: right;">
		        <a href="{% url 'user' %}">
			        Usuário: {{ user.username }}
		        </a>
		    </span>
			{% else %}
			<a class="navbar-item p-2" href="{% url 'register' %}" style="color: white; float: right;">
				Criar Conta
			</a>
			<a class="navbar-item p-2" href="{% url 'login' %}" style="color: white; float: right;">
				Login
			</a>
			{% endif %}
		</div>
	</div>

	<nav class="navbar navbar-dark bg-dark" style="justify-content: flex-start;">
		<button aria-controls="navbarToggleExternalContent"
		        aria-expanded="false"
		        aria-label="Toggle navigation"
		        class="navbar-toggler mx-5"
		        data-bs-target="#navbarToggleExternalContent"
		        data-bs-toggle="collapse"
		        type="button">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="bg-dark text-white" id="marquee-container">
			<div class="marquee">
				<div class="marquee-content">
					<i class="fa-solid fa-triangle-exclamation pe-3"></i>
					Mostrando as últimas ocorrências cadastradas, ambiente ainda em desenvolvimento,
					as informações não refletem a realidade.
					{% if clima %}
					<i class="fa-solid fa-location-dot ps-3"></i> {{ clima.city }}
					<i class="fa-solid fa-temperature-half ps-3"></i> {{ clima.temperature }}°C
					<i class="fa-solid fa-cloud ps-3"></i> {{ clima.description|capfirst }}
					<i class="fa-solid fa-calendar-days ps-3"></i> {{ data }}
					{% endif %}
				</div>
			</div>
		</div>
	</nav>
</div>