.map-card {
    background: #D3D3D3;
    padding: 15px;
    border-radius: 14px;
    box-shadow: 0 12px 40px rgba(0,0,0,0.2);
}
#marquee-container {
    flex: 1;
    overflow: hidden;
}

.marquee {
    overflow: hidden;
}

.marquee-content {
    white-space: nowrap;
    padding-left: 100%;
    animation: scroll-left 30s linear infinite;
}

.marquee:hover .marquee-content {
    animation-play-state: paused;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-150%);
    }
}
