{% block head %}
{% include "head.html" %}
{% include "index.html" %}
{% endblock %}
{% load static %}
{% block content %}
{% load django_bootstrap5 %}
{% bootstrap_messages %}

<div class="m-5 text-center">
	<h1><u> Denuncias pendentes de validação </u></h1>
</div>
<div class="row d-flex justify-content-center m-5">
	{% for occurrence in occurrences %}
	<div class="card m-2 col-4" style="width: 18rem;">
        <div class="pt-2">
            <div id="map-{{ occurrence.id }}" style="height: 180px;"></div>
        </div>
        <div class="py-2">
            <h5 class="text-center h2"><u> {{ occurrence.get_crime_type_display }} </u></h5>
        </div>

        <hr>

		<div class="card-body text-center">

			<p class="card-text">
				<strong>Descrição:</strong><br>
				{{ occurrence.description|default:"Não informado" }}
			</p>

			<p class="card-text">
				<strong>Referência:</strong><br>
				{{ occurrence.reference|default:"Não informado" }}
			</p>

            <p class="card-text">
				<strong>Denuncia ocorrida na data de:</strong><br>
				{{ occurrence.occurred_at|date:"d/m/Y H:i" }}
			</p>

            <p class="card-text">
				<strong>Denuncia realizada em:</strong><br>
				{{ occurrence.created_at|date:"d/m/Y" }}
			</p>

            <div class="pt-3">
                <form method="post" action="{% url 'occurrence_vote' occurrence.id %}">
                    {% csrf_token %}

                    <div class="mb-3">
                        {{ occurrence.vote_form.vote }}
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary btn-sm mt-2" type="submit">
                            Confirmar voto
                        </button>
                    </div>
                </form>
            </div>
		</div>
	</div>
	{% endfor %}

</div>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script>
	var icons = window.LEAFLET_ICONS;

	{% for occurrence in occurrences %}
		(function () {
			var lat = parseFloat("{{ occurrence.latitude }}".replace(',', '.'));
			var lon = parseFloat("{{ occurrence.longitude }}".replace(',', '.'));
			var tipo = "{{ occurrence.crime_type }}";

			if (isNaN(lat) || isNaN(lon)) return;

			var map = L.map('map-{{ occurrence.id }}', {
				attributionControl: false,
				zoomControl: false
			}).setView([lat, lon], 15);

			L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
				maxZoom: 20
			}).addTo(map);

			L.marker([lat, lon], {icon: icons[tipo] || icons.other})
				.addTo(map);
		})();
	{% endfor %}
</script>


{% endblock %}