{% block head %}
{% include "head.html" %}
{% include "index.html" %}
{% endblock %}
{% load static %}
{% block content %}
{% load django_bootstrap5 %}
{% bootstrap_messages %}

<link href="https://unpkg.com/leaflet/dist/leaflet.css" rel="stylesheet"/>
<h1 class="text-center pt-5"><u>Detalhes da Ocorrência</u></h1>
<div class="p-3" style="font-size: 20px;">
	<div class="ps-3">
		<p><strong>Tipo:</strong> {{ occurrence.get_crime_type_display }}</p>
		{% if occurrence.description %}
		<p><strong>Descrição:</strong> {{ occurrence.description }}</p>
		{% endif %}
		{% if occurrence.reference %}
		<p><strong>Referência:</strong> {{ occurrence.reference }}</p>
		{% endif %}
        {% if occurrence.link %}
		<p class="pt-4"><strong>Link da notícia:</strong>
            <a href="{{ occurrence.link }}" target="_blank" rel="noopener noreferrer">
                {{ occurrence.link }}
            </a>
        </p>
		{% endif %}
	</div>

</div>
<div class="px-3 mt-5">
	<p class="text-secondary"><strong>Endereço apróximado:</strong> {{ occurrence.logradouro }},
		{{ occurrence.bairro }}, {{ occurrence.cidade }}/{{ occurrence.uf }}, CEP: {{ occurrence.cep }}</p>
</div>
<!-- Mapa -->
<div class="map-card">
	<div id="map" style="height: 550px;"></div>
</div>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script>
	var icons = window.LEAFLET_ICONS;

	// Define latitude, longitude e tipo
	var lat = parseFloat("{{ occurrence.latitude }}".replace(',', '.'));
	var lon = parseFloat("{{ occurrence.longitude }}".replace(',', '.'));
	var tipo = "{{ occurrence.crime_type }}";  // <-- ESSENCIAL

	var map = L.map('map').setView([lat, lon], 16);

	L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
		maxZoom: 20,
		attribution: '&copy; OpenStreetMap'
	}).addTo(map);

	// Marcador da ocorrência com ícone específico
	L.marker([lat, lon], {icon: icons[tipo] || icons.other})
		.addTo(map)
		.bindPopup(`<b>{{ occurrence.get_crime_type_display }}</b><br>{{ occurrence.bairro }}, {{ occurrence.cidade }}`)
		.openPopup();
</script>


{% endblock %}